<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ImportController</servlet-name>
        <servlet-class>control.ImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>control.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportController</servlet-name>
        <servlet-class>control.ExportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RiceController</servlet-name>
        <servlet-class>control.RiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>control.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueController</servlet-name>
        <servlet-class>control.RevenueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportController</servlet-name>
        <url-pattern>/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportController</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RiceController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueController</servlet-name>
        <url-pattern>/revenue</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>pagesize</param-name>
        <param-value>4</param-value>
    </context-param>
</web-app>
